---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { FaAddressCard, FaEnvelope, FaPhoneAlt } from "react-icons/fa";

const entry = await getEntryBySlug("pages", "contact");
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 set:html={markdownify(title)} class="h2 page-heading" />
          <div class="lg:col-8 sm:col-12">
          <h2 class="h4 mb-4">Need a little extra help with your speech?</h2>
          <div class="mb-8">
            If you feel like you need some help with your speech, or would like some quick feedback on a first draft, drop me a line using the form below.
          </div>
        <form class="contact-form row gy-2 justify-center" name="contact" netlify>
            <div class="lg:col-6">
              <label class="mb-2 block" for="name">Name <span class="text-red-600">*</span></label>
              <input class="form-input w-full" name="name" type="text" required />
            </div>
            <div class="lg:col-6">
              <label class="mb-2 block" for="email">Email <span class="text-red-600">*</span></label>
              <input class="form-input w-full" name="email" type="email" required />
            </div>
            <div class="lg:col-6">
              <label class="mb-2 block" for="name">Speech </label>
              <select class="form-input w-full" name="name">
                <option/>
                <option>Father of the Bride</option>
                <option>Groom</option>
                <option>Best Man</option>
              </select>
            </div>
            <div class="lg:col-6">
              <label class="mb-2 block" for="email">Date of the wedding </label>
              <input class="form-input w-full" name="email" type="date" />
            </div>
            <div class="col-12">
              <label class="mb-2 block" for="message">How can I help? </label>
              <textarea class="form-textarea w-full" rows="4"></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary mt-2" type="submit">Submit Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Base>
