---
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import Posts from "@/layouts/Posts.astro";
import CTA from "@/layouts/components/CTA.astro";
import Snippet from "@/layouts/components/Snippet.astro";
import { humanize, markdownify } from "@/lib/utils/textConverter";
import { getSinglePage } from "@/lib/contentParser.astro";
import taxonomyFilter from "@/lib/utils/taxonomyFilter";
import { sortByOrder } from "@/lib/utils/sortFunctions";

const { hub } = Astro.props;
const { title, meta_title, nav_title, description, image, image_bg_color, banner_bg_color, show_cta } = hub.data;
const { slug } = hub;
const { Content } = await hub.render();

const posts = await getSinglePage("posts");
const filterByCategory = taxonomyFilter(posts, "categories", slug);
const featuredPosts = taxonomyFilter(filterByCategory, "tags", "featured");
const sortedPosts = sortByOrder(featuredPosts);

const preambleSlug = slug + '-preamble';
const preamble = await getEntryBySlug("snippets", preambleSlug);
---

<section class={'section pt-8 pb-4 ' + banner_bg_color} >
  <div class="container">
    <div class="row md:gx-4">
      <div class="sm:col-5 md:col-4">
        {
          image && (
            <div class="img-cover mb-8">
              <Image
                src={image}
                width={295}
                height={395}
                alt={title}
                class={'rounded-lg w-full p-4 pb-0 ' + image_bg_color}
              />
            </div>
          )
        }
      </div>
      <div class="sm:col-7 md:col-8">
        <h1 set:html={markdownify(title)} class="h1" />
          <Snippet snippet={preamble} />
      </div>
    </div>
  </div>
</section>

<section class="section pt-8">
  <div class="container">
    <div class="content">
      <Content />
    </div>
  </div>
  
  { show_cta && <CTA title="Want my Free Resource Pack?" bg_color="bg-violet-50" url={'/resource-pack/' + slug + "/"} btn_text="Yes I Want It!" } >Get templates, prompts, tips and other handy resources to help you create a knockout {nav_title}.</CTA> }

  <div class="container">
    <div>
    <h2 class="h1 mb-4">More Articles</h2>
    <p class="content mb-4">Now you've learned the essentials, why not keep going with these more in-depth articles?</p>
    </div>
    <Posts posts={sortedPosts} fluid={false} />
  </div>
  
  { show_cta && <CTA title="Need a Little Extra Help?" bg_color="bg-violet-50" url="/contact/" btn_text="Contact Me" } >Drop me a line and tell me where you're struggling with your {nav_title}. There's a good chance I can help!</CTA> }

</section>